@import '/src/styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  position: relative;

  min-height: 250px;

  margin-top: 32px;

  .back {
    min-width: 35px !important;
    position: absolute;
    top: -120px;
    left: 0;
    border-radius: 100px;
  }

  .textPhone {
    display: flex;
    align-items: center;

    span {
      font-weight: 500;
      padding-left: 4px;
    }
  }

  .repeat {
    text-align: center;
    color: $gray;
  }
}
