@import '/src/styles/variables.scss';

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;

  margin-top: 40px;

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .tag {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 5px 20px;

    font-weight: 500;
    color: $black;

    background-color: $blue-light;
    border-radius: 20px;
    border-width: 2px;

    @media (max-width: 500px) {
      width: 100%;
    }

    &:hover {
      cursor: pointer;
      border: 2px solid $primary;
    }

    .count {
      color: $gray;
    }

    &.active {
      border: 2px solid $primary;
    }
  }

  .reset {
    min-width: 0px !important;
    padding: 0 !important;

    &:hover {
      text-decoration: underline;
      background-color: transparent !important;
    }
  }
}
