@import '/src/styles/variables.scss';

.btn.ant-btn {
  box-shadow: none;

  &.ant-btn-default {
    background-color: $blue-light;
    border-color: darken($blue-light, 3%);

    &:not(:disabled):not(.ant-btn-disabled):hover {
      background-color: $blue-light;
    }
  }

  &.ant-btn-primary {
    &:not(:disabled):not(.ant-btn-disabled):hover {
      background-color: darken($primary, 10%);
      color: $white;
    }
  }

  &.ant-btn-text {
    &:not(:disabled):not(.ant-btn-disabled):hover {
      background-color: $blue-light;
    }
  }
}