@import '/src/styles/variables.scss';

.modal {
  width: 750px !important;

  .header {
    display: flex;
    align-items: center;
    gap: 8px;

    .count {
      font-size: 24px;
      font-weight: 700;
      color: $primary;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .block {
      .blockContent {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
      }

      .btnFilter {
        border-width: 2px;
        font-weight: 600;

        &.btnActive {
          border-color: $primary;
          color: $primary;
        }
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    gap: 16px;

    margin-top: 48px;
  }
}
