.contartors {
  .listConractors {
    display: flex;
    gap: 20px
  }

  .contractors {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .aside {
    display: flex;
    width: 400px;
  }
}
