@import '/src/styles/variables.scss';

.tender {
  margin-bottom: 80px;

  .date {
    margin: 24px 0 8px 0;
    color: $gray;
    font-size: 15px;
  }

  .content {
    margin-top: 24px;
    display: flex;
    gap: 32px;

    @media (max-width: 1300px) {
      flex-direction: column;
    }

    .body {
      flex: 1 1 70%;

      @media (max-width: 1300px) {
        order: 2;
      }
    }

    .aside {
      flex: 1 1 30%;

      @media (max-width: 1300px) {
        order: 1;
      }
    }
  }
}
