@import '/src/styles/variables.scss';

.popular {
  background-color: $white;
  height: max-content;
  border-radius: 16px;
  padding: 24px 0;

  .title {
    text-align: center;
    font-weight: 700;
  }

  .list {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    .card {
      width: 230px;
      padding: 20px 0;
      margin: 0 20px;
      border-radius: 20px;
      transition: all 0.4s ease;

      &:hover {
        background-color: $blue-light;
      }

      .wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;

        .name {
          display: flex;
          gap: 4px;
          color: $primary;
          margin-top: 8px;
          font-weight: 500;

          span {
            color: $black;
          }
        }
      }
    }
  }
}
