@import '/src/styles/variables.scss';
@import '../Form.scss';

.ant-input-affix-wrapper {
  @include ui-field;

  .ant-input {
    width: 90%;
  }

  .ant-input-suffix {
    position: absolute;
    top: 21px;
    right: 16px;
  }

  &.ant-input-outlined {
    @include focus-within;
  }

  &.ant-input-outlined.ant-input-status-error,
  &.ant-input-outlined.ant-input-status-error:focus-within,
  &.ant-input-outlined.ant-input-status-error:hover {
    border-color: $required-fields !important;
  }

  &.ant-input-status-error {
    background-color: $bg-error !important;
  }
}
