@import '/src/styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .textPhone {
    color: $gray;
  }

  .back {
    min-width: 35px !important;
    border-radius: 100px;
  }
}
