@import '/src/styles/variables.scss';

.wrapper {
  position: relative;
  transform-origin: 0 0;

  .label {
    position: absolute;
    left: 16px;
    z-index: 100;

    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: 500;
    pointer-events: none;

    transition: all 0.3s ease;
    transform: scale(0.85) translateY(7px);
    transform-origin: left top;

    &.unactive {
      transform: scale(1.15) translateY(15px);
    }

    &.error {
      color: $required-fields;
    }

    &.required {
      &::after {
        content: '*';
        padding-left: 2px;
        font-weight: 500;
        color: $required-fields;
      }
    }
  }

  // .fieldUnActive {
  //   & > * {
  //     padding: 25px 0px 0px 0px !important;
  //   }
  // }
}
