@import '/src/styles/variables.scss';

.inputWrapper {
  background-color: $blue-light;
  border-color: darken($blue-light, 3%);

  &:hover {
    border-color: lighten($primary-dark, 55%) !important;
    cursor: initial;
    transition: all .2s ease-in-out;
  }

  &.ant-input-outlined {
    border-color: none;
    background-color: $blue-light;

    &:focus-within {
      border-color: lighten($primary-dark, 55%) !important;
      box-shadow: none !important;
    }
  }
}
