@import '/src/styles/variables.scss';

.header {
  background-color: $white;
  padding: 0;
  padding-bottom: 10px;
  margin-bottom: 40px;

  .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    background-color: #fff;
    height: 68px;

    position: relative;
    z-index: 1000;

    padding: 0px 48px;
    margin-top: 16px;

    border: 1px solid darken($blue-light, 5%);
    border-radius: 40px;

    .content {
      display: flex;

      width: 100%;

      .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      .menu {
        display: flex;
        align-items: center;
        gap: 32px;

        .item {
          color: $black;
          font-weight: 500;
          font-size: 15px;
          border-bottom: 2px solid transparent;

          &:hover {
            border-bottom: 2px solid $primary;
          }
        }

        .active {
          border-bottom: 2px solid $primary;
        }
      }

      .actions {
        display: flex;
        align-items: center;
        gap: 16px;

        .city {
          font-weight: 500;
          color: $gray;
        }

        .login {
          color: $primary;
          font-weight: 500;
        }
      }
    }

    .logo {
      display: flex;
      align-items: center;
      z-index: 100;
    }
  }

  @media screen and (max-width: 1100px) {
    .content {
      position: fixed !important;
      top: 0;
      width: 100vw !important;
      height: 100vh !important;
      left: -1000px;

      transition: all 0.6s ease;

      &.isOpenMenu {
        left: 0px;
      }

      .wrapper {
        background-color: #fff;
        padding-top: 80px;

        flex-direction: column;
        align-items: center;
        justify-content: start !important;

        .menu {
          flex-direction: column;
          order: 2;
          gap: 24px;
          margin-top: 40px;

          .item {
            font-size: 18px !important;
            line-height: 40px;
          }
        }

        .actions {
          flex-direction: column;
          order: 1;
          margin-top: 32px;

          .city {
            order: 2;
          }

          .login {
            order: 1;
          }
        }
      }
    }
  }

  .burgerButton {
    all: initial;
    cursor: pointer;

    width: 30px;
    height: 20px;

    justify-content: center;
    align-items: center;
    position: relative;

    display: none;

    span,
    span::after,
    span::before {
      transition: all 0.4s ease;
      background-color: $gray;
      height: 2px;
      width: 30px;
    }

    span::after,
    span::before {
      content: '';
      position: absolute;
    }

    span::after {
      top: 0;
    }

    span::before {
      bottom: 0;
    }

    &.isOpen {
      span {
        background-color: transparent;
        transition: background-color 0.1s ease;
      }

      span::after {
        top: 11px;
        transform: rotate(-45deg);
        transition:
          top 0.4s,
          transform 0.4s 0.15s;
      }
      span::before {
        top: 11px;
        transform: rotate(45deg);
        transition:
          top 0.4s,
          transform 0.4s 0.15s;
      }
    }
  }

  @media screen and (max-width: 1100px) {
    .burgerButton {
      display: flex;
    }
  }
}
