@import '/src/styles/variables.scss';

.search {
  border-radius: 20px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
  margin: 24px 0 40px 0;

  @media (max-width: 450px) {
    margin: 16px 0 24px 0;
  }

  .body {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    background-color: $blue-light;
    border-radius: 10px;

    @media (max-width: 450px) {
      flex-direction: column;
    }

    .delimiter {
      height: 25px;
      border-right: 2px solid darken($blue-light, 10%);
      border-radius: 20px;

      @media (max-width: 450px) {
        height: 2px;
        border-right: none;
        border-bottom: 2px solid darken($blue-light, 10%);
        width: 100%;
        border-radius: 0;
      }
    }
  }

  &:hover {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  }

  .wrapper {
    padding: 40px;

    @media (max-width: 450px) {
      padding: 24px;
    }
  }

  .title {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 24px;

    @media (max-width: 450px) {
      font-size: 24px;
    }
  }

  .form {
    display: flex;
    align-items: center;
    gap: 16px;

    .actions {
      display: flex;
      gap: 16px;
    }

    @media (max-width: 1000px) {
      flex-direction: column !important;
      align-items: flex-start;

      .actions {
        display: flex;
        flex-direction: column;
        width: 100%;

        .filter {
          width: 100%;

          button {
            min-width: 100% !important;
          }
        }

        .submit {
          min-width: 100% !important;
        }
      }
    }

    .iconSearch {
      color: $gray;
      margin-right: 10px;
    }

    .filter {
      button {
        min-width: 60px;
      }
    }

    .field {
      height: 40px !important;
      padding: 0 10px 0 10px !important;
      border-color: transparent !important;
    }
  }

  .categories {
    display: flex;
    gap: 16px;
    margin-top: 32px;

    .item {
      border-radius: 20px;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .active {
      background-color: $primary;
      color: $white;

      &:hover {
        background-color: $primary !important;
        color: $white !important;
      }
    }
  }
}
