@import '/src/styles/variables.scss';

.footer {
  background-color: $primary-dark;
  color: $white;
  padding: 0;

  .body {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;

    .social {
      display: flex;
      gap: 8px;
    }

    .content {
      display: flex;
      gap: 56px;
      align-items: center;

      .team {
        a {
          color: $primary;
          font-weight: 500;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .policy {
        margin-top: 32px;
        width: 500px;

        a {
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    .body {
      flex-direction: column;
      justify-content: start;
      gap: 16px;

      .content {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        gap: 32px;
      }

      .policy {
        width: auto !important;
        line-height: 25px;
      }
    }
  }
}
