@import '/src/styles/variables.scss';

.carousel {
  min-width: 100%;
  min-height: 100%;

  .ant-image {
    display: flex;
    
    .ant-image-img {
      border-radius: 15px;
    }
  }

  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    font-size: 16px;
    color: $black;
  }

  .ant-image-mask {
    border-radius: 15px;
  }
}
