@import '/src/styles/variables.scss';
.registration {
  margin-bottom: 32px;
  margin-top: 24px;

  .content {
    margin: 0 auto;
    width: 650px;
    min-height: 600px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;

    .wrapper {
      padding: 24px;
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
      height: 100%;

      .form {
        margin-top: 32px;
        flex: 1 1 100%;

        .verification {
          width: 500px;
          position: relative;
        }

        .backVerification {
          position: absolute;
          top: -86px;
        }
      }

      .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .title {
          text-align: center;
          margin: 0;
        }
      }

      .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 500px;
        margin: 0 auto;
        line-height: 20px;
        text-align: center;
        color: $gray;
        margin-top: 24px;
      }
    }
  }
}
