@import '/src/styles/variables.scss';
@import '../Form.scss';

.inputPhone {
  display: flex;
  align-items: center;

  .ant-input {
    width: 90%;
  }

  &.ant-input-outlined {
    @include focus-within;
  }
}
