@import '/src/styles/variables.scss';

.userForm {
  .header {
    color: $gray;
    position: relative;

    p {
      margin-top: 12px;
    }

    .back {
      position: absolute;
      top: -85px;
      min-width: 35px !important;
      border-radius: 100px;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
