@import '/src/styles/variables.scss';

.card {
  border-radius: 10px;
  box-shadow: 0px 4px 35px -4px rgba(34, 60, 80, 0.15);

  .wrapper {
    display: flex;
    gap: 32px;
    padding: 30px;
  }

  .content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .contentWrapper {
    flex: 1 1 100%;
  }

  .gallery {
    width: 500px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
  }

  .info {
    margin: 16px 0 8px 0;
    width: 70%;
  }

  .desc {
    .title {
      font-weight: 700;
      margin-bottom: 4px;
    }

    .rest {
      padding: 0 !important;
      min-width: max-content;
      color: $primary;
      text-decoration: underline;
      padding-left: 4px;

      &:hover {
        color: $primary;
        text-decoration: none;
        cursor: pointer;
        background-color: transparent !important;
      }
    }

    .fullText {
      max-height: auto;
      overflow: auto;
    }

    .text {
      max-height: 70px;
      overflow: hidden;
    }
  }

  .authors {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
  }

  .authorItem {
    display: flex;
    align-items: center;
    gap: 16px;

    .name {
      font-weight: 700;
    }
    .role {
      font-size: 12px;
      color: gray;
    }
  }
}
