@import '/src/styles/variables.scss';
@import '../Form.scss';

.inputNumber {
  display: flex;
  align-items: center;

  .ant-input-number-input {
    padding: 0;
  }

  .ant-input-number-input-wrap {
    width: 100%;

    .ant-input-number-input {
      padding: 20px 0;
    }
  }

  &.ant-input-number-outlined {
    @include focus-within;
  }

  &.ant-input-number-outlined.ant-input-number-status-error,
  &.ant-input-number-outlined.ant-input-number-status-error:focus-within,
  &.ant-input-number-outlined.ant-input-number-status-error:hover {
    border-color: $required-fields !important;
  }
}
